
<div class="header content_summary_green" style="height:150px; margin-bottom:50px; color:white; text-align:left;">
    <div class="container">
        <h1 class="title" style="color:white;">Transcoder</h1>
    </div>

</div>
<div class="row-stat grid-stat">

    <div class="medium-4 columns-stat container-hover grid-stat">
        <a style="text-decoration: none; line-height: inherit; cursor: pointer; text-align: center;" href="@Url.Action("AddConversion","Conversion")">
            <img style="display: block; margin: 0 auto;" src="/Content/Images/conversion.png">
            <h6 class="text-h6">Ajouter une</h6>
            <h2>Conversion</h2>
            <p>Foundation for Sites is jam-packed with features to help people rapidly build content-focused websites.</p>
            <p class="link">Learn more about Foundation for Sites</p>
        </a>
    </div>

    <div class="medium-4 columns-stat container-hover grid-stat">
        <a style="text-decoration: none; line-height: inherit; cursor: pointer; text-align: center;" href="@Url.Action("Panier","Conversion")">
            <img style="display: block; margin: 0 auto;" src="/Content/Images/cart_full.png">
            <h6 class="text-h6">Voir mon</h6>
            <h2>Panier</h2>
            <p>Foundation for Sites is jam-packed with features to help people rapidly build content-focused websites.</p>
            <p class="link">Learn more about Foundation for Sites</p>
        </a>
    </div>

    <div class="medium-4 columns-stat container-hover grid-stat">
        <a style="text-decoration: none; line-height: inherit; cursor: pointer; text-align: center;" href="@Url.Action("MesConversions","Conversion")">
            <img style="display: block; margin: 0 auto;" src="/Content/Images/last_order.jpg">
            <h6 class="text-h6">Ma dernière</h6>
            <h2>Commande</h2>
            <p>Foundation for Sites is jam-packed with features to help people rapidly build content-focused websites.</p>
            <p class="link">Learn more about Foundation for Sites</p>
        </a>
    </div>

</div>
