<section id="socialLoginForm">
    <h4>Connectez-vous avec</h4>
    <hr />
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <a href="javascript:doLoginOrRegister()" style="horiz-align: center;"><img style="max-height: 50px; margin: 5px;" src="~/Content/Images/fb-logo_icon.jpg" /></a>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-1">
        <a style="horiz-align: center;"><img style="max-height: 50px; margin: 5px;" src="~/Content/Images/google_logo.png" /></a>
    </div>
</section>

@Scripts.Render("~/Scripts/external_auth.js")