body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000 !important;
}

.field-validation-valid {
    display: none !important;
}

.input-validation-error {
    border: 1px solid #ff0000 !important;
    background-color: #ffeeee !important;
}

.validation-summary-errors {
    font-weight: bold !important;
    color: #ff0000 !important;
}

.validation-summary-valid {
    display: none !important;
}

.contentWrap {
    margin-top: 9%;
    text-align: center;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    margin-top: 5%;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.heading {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    position: relative;
    margin-bottom: 30px;
}

.head-1 {
    background-color: #ff8c4b;
    color: white;
    font-weight: bold;
    height: 60px;
    padding: 5px;
}

.head-2 {
    background-color: #0079bf;
    color: white;
    font-weight: bold;
    height: 60px;
    padding: 5px;
}

.head-3 {
    background-color: #5cb85c;
    color: white;
    font-weight: bold;
    height: 60px;
    padding: 5px;
}

.head-1-title {
    vertical-align: middle;
    margin-left: 90px;
    margin-top: 10px;
}

.img-heading {
    width: 65px;
    float: left;
    margin-left: 10px;
}

.header {
    position: relative;
    padding: 25px 0 25px 0;
    border-bottom: 1px solid #e5e5e5;
    /*background-color: #f9f9f9;*/
    background-position: center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    margin-bottom: 20px;
}

/******* PAGE D ACCUEIL ********/
.title {
    -webkit-font-smoothing: antialiased;
    color: #404852;
    /*font-size: 42px;*/
    /*font-weight: bold;*/
    line-height: 1.2;
    margin-bottom: 1rem;
    font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.content_summary_green {
    background-color: #2ECC71;
}

.content_summary_teal {
    background-color: #006595;
}

.content_summary_gray {
    background-color: #94948E;
    /*#393a3d;*/
}

.content_summary_purple {
    background-color: #394166;
}

.content_summary_blue {
    background-color: #4285f4;
}

.content_summary_white {
    background-color: #FAFAFA;
}

.content_summary_red {
    background-color: #fa8072;
}

.row-centered {
    text-align: center;
}

body {
    padding-bottom: 0;
}

#content_banner {
    /*background: url(@Url.Content("~/Content/Images/home_main_bg.jpg"));*/
    background: url('Images/medias.png');
    background-position: 0% 30%;
}

#transcoder_title {
    text-align: left;
    margin-top: 3%;
    font-size: 40px;
    font-weight: bold;
    color: #55539c;
}

.transcoder_summary_white {
    text-align: left;
    /*margin-top: 50px;*/
    font-size: 25px;
    font-weight: normal;
    color: lightslategrey;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 35px;
}

.transcoder_summary_black {
    text-align: center;
    horiz-align: center;
    margin-top: 50px;
    font-size: 25px;
    font-weight: normal;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 35px;
}

#bt_get_started {
    padding: 10px;
    /*lightslategrey*/
    border: #55539c solid 2px;
    border-radius: 20px;
    background-color: transparent;
    margin-bottom: 30px;
    color: #55539c;
    font-weight: bold;
}

    #bt_get_started:hover {
        background-color: #ff9d35;
        border-color: #ff9d35;
        color: white;
    }

.gauge-meter-home-1 {
    position: Relative;
    text-align: Center;
    overflow: Hidden;
    cursor: Default;
    display: inline-block;
}

    .gauge-meter-home-1 SPAN, .gauge-meter-home-1 B {
        width: 54%;
        position: Absolute;
        text-align: Center;
        display: Inline-Block;
        color: RGBa(255,255,255,.8);
        font-weight: 100;
        font-family: "Open Sans", Arial;
        overflow: Hidden;
        white-space: NoWrap;
        text-overflow: Ellipsis;
        margin: 0 23%;
    }

    .gauge-meter-home-1[data-style="Semi"] B {
        width: 80%;
        margin: 0 10%;
    }

    .gauge-meter-home-1 S, .gauge-meter-home-1 U {
        text-decoration: None;
        font-size: .60em;
        font-weight: 200;
        opacity: .6;
    }

    .gauge-meter-home-1 B {
        color: #FFF;
        font-weight: 200;
        opacity: .8;
    }

.bs-docs-header, .bs-docs-masthead {
    position: relative;
    padding: 30px 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
    margin-bottom: 50px;
    font-size: 2.875rem;
    text-align: center;
}

.homepage {
    text-align: left !important;
}

    .homepage .transco-main-header {
        text-align: left !important;
    }

    .homepage .transco-subheader {
        color: #fefefe;
        font-size: 1.3125rem;
        font-weight: 200;
    }

.home-8 {
    width: 66.66667%;
}

.medium-offset-1 {
    margin-left: 8.33333%;
}

.row-stat {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

    .row-stat::before, .row-stat::after {
        content: ' ';
        display: table;
    }

    .row-stat::after {
        clear: both;
    }

    .row-stat.collapse > .columns-stat, .row-stat.collapse > .columns-stat {
        padding-left: 0;
        padding-right: 0;
    }

    .row-stat .row-stat {
        margin-left: -0.625rem;
        margin-right: -0.625rem;
    }

@media screen and (min-width: 43.75em) {
    .row-stat .row-stat {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    }

    .row-stat grid-stat {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.row-stat .row-stat.collapse {
    margin-left: 0;
    margin-right: 0;
}

.row-stat.expanded {
    max-width: none;
}

    .row-stat.expanded .row-stat {
        margin-left: auto;
        margin-right: auto;
    }

.column-stat, .columns-stat {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    width: 100%;
    float: left;
}

.grid-stat .column-stat img {
    padding: 0px;
    height: 300px;
    margin: 0px;
}

.medium-4 {
    width: 33.33333%;
}

@media screen and (min-width: 1em) {
    .medium-4 {
        width: 100%;
    }

    .row-stat grid-stat {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 20em) {

    .medium-4 {
        width: 100%;
    }

    .row-stat grid-stat {
        max-width: 93%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 46.8em) {

    .medium-4 {
        width: 33.33333%;
    }
}

.container-hover {
    margin-bottom: 3.8rem;
    border-radius: 3px;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    transition: all .25s ease-in-out;
}

    .container-hover.horizontal {
        padding: 2.5rem 0;
    }

    .container-hover:hover {
        background: #f8f8f8;
        transition: all .25s ease-in-out;
    }

    .container-hover p {
        color: #333;
    }

    .container-hover .link {
        color: #1d92cf;
    }

C .transcoder-footer-bottom {
    background: #333;
    padding: 3% 0 2%;
}

.transcoder-footer-bottom .copyright {
    font-size: 1.0em;
    color: #9d9d9d;
    font-weight: bold;
}

.transcoder-footer .design-border {
    border-bottom: 1px solid #484848;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.transcoder-footer-bottom {
    background: #333;
    padding: 24px 0 10px;
}

.transcoder-footer-bottom {
    text-align: center;
    width: 100%;
    bottom: 0px;
    position: fixed;
}

    .transcoder-footer-bottom .columns {
        padding: 0;
    }

    .transcoder-footer-bottom .transcoder-links {
        margin: 16px 0 10px;
    }

@media screen and (min-width: 1em) {

    .transcoder-footer-bottom {
        text-align: center;
        width: 100%;
        bottom: 0px;
        position: relative;
    }
}

@media screen and (min-width: 20em) {

    .transcoder-footer-bottom {
        text-align: center;
        width: 100%;
        bottom: 0px;
        position: relative;
    }
}

@media screen and (min-width: 46.8em) {

    .transcoder-footer-bottom {
        text-align: center;
        width: 100%;
        bottom: 0px;
        position: fixed;
    }
}

@media screen and (min-width: 50em) {

    .transcoder-footer-bottom {
        text-align: center;
        width: 100%;
        bottom: 0px;
        position: fixed;
    }
}

@media screen and (min-width: 73em) {

    .transcoder-footer-bottom {
        text-align: center;
        width: 100%;
        bottom: 0px;
        position: fixed;
    }
}

.text-inline {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.text-h6 {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 1.0em;
    margin-top: 10px;
    color: #7e7e7e;
    letter-spacing: 2px;
    text-align: center;
}


.form-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.form-edit {
    max-width: 100%;
    padding: 15px;
    margin: 0 auto;
}

.gauge-meter-home-1 SPAN, .gauge-meter-home-1 B {
    opacity: 1;
    color: white;
}

.grid-conversion {
    height: 320px;
}

.arrow-conversion {
    height: 320px;
}

.conversion-btn {
    text-align: right;
    display: none;
}

@media screen and (min-width: 1em) {
    .grid-conversion {
        height: 320px;
    }

    .arrow-conversion {
        height: 109px;
    }

    .conversion-btn {
        text-align: center;
        display: none;
    }
}

@media screen and (min-width: 20em) {
    .grid-conversion {
        height: 320px;
    }

    .arrow-conversion {
        height: 109px;
    }

    .conversion-btn {
        text-align: center;
        display: none;
    }
}

@media screen and (min-width: 46.8em) {

    .grid-conversion {
        height: 360px;
    }

    .arrow-conversion {
        height: 109px;
    }

    .conversion-btn {
        text-align: center;
        display: none;
    }
}

@media screen and (min-width: 50em) {

    .grid-conversion {
        height: 360px;
    }

    .arrow-conversion {
        height: 109px;
    }

    .conversion-btn {
        text-align: right;
        display: none;
    }
}
