@using Core.Transcoder.Utils.Resources
@model Core.Transcoder.DataAccess.ViewModels.ListCommandesViewModel

@{
    ViewBag.Title = @UiStrings.listconversion_page_title;
}

    <div class="container">
        <div id="conversions">
            @{ Html.RenderPartial("_ListConversions", Model.ListOfConversions); }
        </div>
    </div>

@section Scripts
{
    <script>


    </script>
}