@model Core.Transcoder.DataAccess.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Transcoder";
}

@if (Request.Cookies["User"] != null)
{
    @Html.Partial("_HomeAuth")
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Transcoder</p>
    </footer>
}
else
{
    @Html.Partial("_HomeVisiteur")
}
